<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Yoro Sports Club official website">
    <meta name="author" content="K.W.">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/my/userdetails.css">
    <link rel="stylesheet" href="/static/css/my/userdetails/edit.css">
    <title>利用者情報編集</title>
</head>
<body>
    {% include "header.html" %}

    <div id="page-directory-div" class="flex-row">
        <span><a href="/">ホーム</a></span>
        <span>＞</span>
        <span><a href="/my">マイページ</a></span>
        <span>＞</span>
        <span><a href="/my/userdetails">利用者情報</a></span>
        <span>＞</span>
        <span>利用者情報編集</span>
    </div>

    <main class="flex-column-center">

        <h2 class="text-center">利用者情報編集</h2>

        {% include "login.html" %}

        <div class="space"></div>

        <form id="user-details-edit-form" class="flex-column">
            <div class="form-text">お名前<span class="form-annotation">必須</span></div>
            <div class="flex-row-between">
                <input type="text" name="last_name" id="last_name" placeholder="姓" required class="half-input">
                <input type="text" name="first_name" id="first_name" placeholder="名" required class="half-input">
            </div>
            <div class="space"></div>
            <div class="form-text">ふりがな<span class="form-annotation">必須</span></div>
            <div class="flex-row-between">
                <input type="text" inputmode="kana-name" name="last_name_furigana" id="last_name_furigana" placeholder="ふりがな (姓)" required class="half-input">
                <input type="text" inputmode="kana-name" name="first_name_furigana" id="first_name_furigana" placeholder="ふりがな (名)" required class="half-input">
            </div>
            <div class="space"></div>
            <div class="form-text">電話番号<span class="form-annotation">必須</span></div>
            <input type="tel" name="tel" id="tel" placeholder="電話番号" required>
            <div class="space"></div>
            <div class="form-text">郵便番号<span class="form-annotation">必須</span></div>
            <input type="tel" name="postal_code" id="postal_code" placeholder="郵便番号" required>
            <div class="space"></div>
            <div class="form-text">住所<span class="form-annotation">必須</span></div>
            <input type="text" name="address" id="address" placeholder="住所" required>
            <div class="space"></div>
            <div class="form-text">メールアドレス<span class="form-annotation-1">任意</span></div>
            <input type="email" name="email" id="email" placeholder="メールアドレス">
            <div class="space"></div>
            <button type="button" id="save-btn">変更を保存する</button>
        </form>

        <p id="status-message" class="hidden"></p>

        <div class="space"></div>
        <hr class="full-width">
        <div class="space"></div>
        <a href="/my/userdetails" class="a-btn">利用者情報</a>
        <div class="space"></div>
        <a href="/my/childrensignup" class="a-btn">お子さんの情報を追加する</a>
        <div class="space"></div>
        <a href="/lessons" class="a-btn">教室申し込みページ</a>
    </main>

    <footer id="footer">
        <p>（一社）養老スポーツクラブ</p>
    </footer>

    <script src="/static/js/base.js"></script>
    <script src="/static/js/login.js"></script>
    <script src="/static/js/my/userdetails/edit.js"></script>
</body>
</html>
