/* lessons.css */

#lesson-list {
    gap: 3rem;
}

.lesson-list-li, .dummy-li {
    border: 3px solid;
    border-color: gray;
    background-color: white;
    box-sizing: border-box;
    padding: 0.5rem;
    color: #1e1e1e;
}

.lesson-poster {
    overflow: hidden;
}

.lesson-number-etc {
    min-height: 3rem;
    align-items: flex-start;
    font-size: large;
    margin-bottom: 1rem;
}

.lesson-number {
    border-radius: 5px;
    background-color: gray;
    color: white;
    width: 3rem;
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* transform: rotate(45deg); */
}

.lesson-number > div {
    /* transform: rotate(-45deg); */
    font-size: x-large;
}

.lesson-name {
    max-width: calc(100% - 6rem);
    z-index: 2;
    text-align: center;
}

.lesson-name > div {
    align-items: center;
    min-height: 3rem;
    font-weight: bold;
}

.lesson-day {
    border-radius: 50%;
    background-color: cadetblue;
    width: 3rem;
    height: 3rem;
    text-align: center;
    line-height: 3rem;
    color: white;
    font-weight: normal;
}

.lesson-time-etc {
    background-color: none;
}

.lesson-time-etc > div {
    margin-bottom: 0.5rem;
}

.lesson-img {
    width: 6rem;
    height: 6rem;
    background-color: aliceblue;
    margin-bottom: 0.5rem;
    margin-right: 1rem;
    overflow: hidden;
}

.lesson-img > img {
    width: 100%;
    height: auto;
}

.lesson-teacher {
    font-size: small;
}

.lesson-teacher-name {
    font-size: x-small;
}

.lesson-description {
    background-color: #f0f0f0;
    padding: 0.5rem;
    font-size: small;
    flex-grow: 1;
}


.lesson-sign-up-btn {
    font-size: large;
    font-weight: bold;
    padding: 1rem 0;
    border: 1px solid darkgray;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: rgb(51, 165, 108);
    color: white;
}

.lesson-sign-up-btn:hover {
    background-color: rgb(50, 179, 123);
}

.dummy-li {
    height: 20rem;
}

.dummy-btn {
    padding: 1rem 0;
    cursor: auto;
    font-size: medium;
    background-color: aliceblue;
    border: 1px darkgray solid;
}

.lesson-cancel-btn {
    padding: 1rem 0;
    font-size: medium;
    background-color: lightpink;
}

.lesson-cancel-btn-small {
    position: absolute;
    top: auto;
    bottom: 0;
    left: auto;
    right: 0;
    padding: 0 0.5rem;
    font-size: smaller;
    background-color: lightpink;
    color: #101010;
    border: 1px solid gray;
    border-radius: 3px;
    cursor: pointer;
}


.sign-up-check-div, .cancel-check-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.sign-up-check-div > button, .cancel-check-div > button {
    border: 1px darkgray solid;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: large;
}

.sign-up-check-div > button:first-child {
    margin-right: 0.25rem;
    background-color: rgb(38, 158, 96);
}

.sign-up-check-div > button:first-child:hover {
    background-color: rgb(60, 198, 127);
}

.sign-up-check-div > button:last-child {
    margin-left: 0.25rem;
    background-color: gray;
}

.sign-up-check-div > button:last-child:hover {
    background-color: darkgray;
}

.sign-up-check-message {
    color: darkcyan;
}

.cancel-check-div > button:first-child {
    margin-right: 0.25rem;
    background-color: rgb(209, 96, 73);
}

.cancel-check-div > button:first-child:hover {
    background-color: rgb(226, 115, 92);
}

.cancel-check-div > button:last-child {
    margin-left: 0.25rem;
    background-color: gray;
}

.cancel-check-div > button:last-child:hover {
    background-color: darkgray;
}

.cancel-check-message {
    color: rgb(203, 50, 47);
}

.user-child-item {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 8px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.user-child-item:hover {
    background-color: #f9f9f9;
}

.user-child-item label {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    width: 100%;
    cursor: pointer;
}

.child-checkbox {
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.sign-up-over-capacity {
    background-color: rgb(141, 131, 23);
}

.sign-up-over-capacity:hover {
    background-color: rgb(165, 154, 41);
}

.red-text {
    color: tomato;
}


.hidden {
    display: none;
}


/* @media screen and (max-width: 26rem) {
    .lesson-list-li, .dummy-li, #lesson-list, #lesson-list-section {
        min-width: 100%;
    }
} */


@media screen and (min-width: 26rem) and (max-width: 80rem) {
    #lesson-list {
        width: 24rem;
    }
}


@media screen and (min-width: 80rem) {
    #lesson-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* <=> 1fr 1fr 1fr */
        gap: 2rem;
    }

    .lesson-list-li, .dummy-li, .lesson-poster {
        width: 24rem;
    }
}
