<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Yoro Sports Club official website">
    <meta name="author" content="K.W.">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/lessons.css">
    <link rel="stylesheet" href="/static/css/my/lessons.css">
    <title>教室一覧</title>
</head>
<body>
    {% include "header.html" %}

    <div id="page-directory-div" class="flex-row">
        <span><a href="/">ホーム</a></span>
        <span>＞</span>
        <span>申込済の教室</span>
    </div>

    <main class="flex-column-center">
        <h2 class="text-center">申し込み済みの教室</h2>

        {% include "login.html" %}

        <section id="lesson-list-section" class="flex-column-center on-login">
            <h1 class="text-center">2025年度　後期</h1>

            <div class="space"></div>

            <ul id="lesson-list" class="flex-column">
                <li class="dummy-li"></li>
                <li class="dummy-li"></li>
                <li class="dummy-li"></li>
                <li class="dummy-li"></li>
                <li class="dummy-li"></li>
                <li class="dummy-li"></li>
                <li class="dummy-li"></li>
                <li class="dummy-li"></li>
                <li class="dummy-li"></li>
                <li class="dummy-li"></li>
                <li class="dummy-li"></li>
                <li class="dummy-li"></li>
            </ul>
        </section>

        <div class="space"></div>

        <section id="fee-list-section" class="flex-column hidden">
            <h1 class="text-center">金額</h1>
            <ul id="fee-list" class="flex-column">
                <li class="dummy-li-1"></li>
            </ul>
            <div class="space"></div>
            <p>参加費は初回の教室時にお支払いください。</p>
        </section>

        <div class="space"></div>
        <div class="space"></div>
        
        <a href="/lessons" class="a-btn">教室参加申し込み</a>
        <p>キャンセルもこちらでできます↑</p>
    </main>

    <footer id="footer">
        <p>（一社）養老スポーツクラブ</p>
    </footer>

    <script src="/static/js/base.js"></script>
    <script src="/static/js/login.js"></script>
    <script src="/static/js/my/lessons.js"></script>
</body>
</html>

