<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Yoro Sports Club official website">
    <meta name="author" content="K.W.">
    <link rel="stylesheet" href="/static/css/base.css">
    <title>管理者ページ</title>
</head>
<body>
    {% include "header.html" %}

    <div id="page-directory-div" class="flex-row">
        <span><a href="/">ホーム</a></span>
        <span>＞</span>
        <span>管理者ページ</span>
    </div>

    <main class="flex-column-center">

        <h2 class="text-center">（一社）養老スポーツクラブ</h2>

        {% include "login.html" %}

        <div class="space"></div>
        
        <div class="flex-column-center insert-space on-login">
            <a href="/admin/logs" class="a-btn">ログ</a>
            <a href="/admin/lessons/users" class="a-btn">申し込み名簿</a>
            <a href="/admin/user_search" class="a-btn">ユーザー検索</a>
            <a href="/admin/password_reset" class="a-btn">パスワードリセット(管理者用)</a>
            <a href="/admin/settings" class="a-btn">設定</a>
            <hr class="full-width">
            <a href="/admin/lessons" class="a-btn">教室一覧</a>
            <a href="/admin/users" class="a-btn">ユーザーリスト</a>
        </div>
    </main>

    <footer id="footer">
        <p>（一社）養老スポーツクラブ</p>
    </footer>

    <script src="/static/js/base.js"></script>
    <script src="/static/js/login.js"></script>
</body>
</html>
