<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Yoro Sports Club official website">
    <meta name="author" content="K.W.">
    <link rel="stylesheet" href="/static/css/base.css">
    <title>Base layout</title>
</head>
<body>
    {% include "header.html" %}

    <div id="page-directory-div" class="flex-row">
        <span>ホーム</span>
        <span>＞</span>
        <span>長あああああああああああああああああああああああい</span>
        <span>＞</span>
        <span>長あああああああああああああああああああああああい</span>
        <span>＞</span>
        <span>長あああああああああああああああああああああああい</span>
        <span>＞</span>
        <span>長あああああああああああああああああああああああい</span>
    </div>

    <main class="flex-column">
        {% block content %}{% endblock content %}
    </main>

    <footer id="footer">
        <p>フッター</p>
    </footer>

    <script src="/static/js/base.js"></script>
</body>
</html>
