<header>
    <div class="flex-row-between">
        <div class="flex-row">
            <nav id="nav-mobile">
                <button type="button" id="menu-btn">メニュー</button>
            </nav>
            <nav id="nav-pc" class="flex-row hidden">
                <a href="/">ホーム</a>
                <a href="/my">マイページ</a>
                <a href="/lessons">教室申込</a>
                <a href="/my/lessons">申込済の教室</a>
            </nav>
        </div>
        <div class="flex-row">
            <button type="button" id="logout-btn" class="hidden" style="color: orange;">ログアウト</button>
            <button type="button" id="user-btn" class="is-loged-out">未ログイン</button>
        </div>
    </div>
    <nav id="nav-mobile-content" class="flex-column hidden">
        <a href="/">ホーム</a>
        <a href="/my">マイページ</a>
        <a href="/lessons">教室申込</a>
        <a href="/my/lessons">申込済の教室</a>
    </nav>
</header>