<div class="space on-logout hidden"></div>
<div class="on-logout hidden" style="height: 1px; background-color: gray; width: 100%;"></div>
<div class="space on-logout hidden"></div>

<div class="auth-form-div flex-column on-logout hidden">
    <section id="login-form-section" class="flex-column">
        <h2 class="text-center">ログイン</h2>
        <form id="login-form" class="flex-column">
            <input type="text" inputmode="email" name="username" placeholder="ユーザー名" required>
            <input type="password" name="password" placeholder="パスワード" required>
            <button type="submit" id="login-btn">ログインする</button>
        </form>
        <p id="login-failed-message" class="hidden">ログインに失敗しました。ユーザー名またはパスワードが正しくありません。ログインできない場合はLINEまたは電話(090-5859-7805：若山)でお問い合わせください。</p>
    </section>
    
    <div class="space"></div>

    <p>初めてご利用の方は利用者登録をしてください</p>
    <a href="/users/signup" class="a-btn a-btn-green">登録する</a>

    <div class="space"></div>
</div>

<div class="space on-logout hidden"></div>
<div class="on-logout hidden" style="height: 1px; background-color: gray; width: 100%;"></div>
<div class="space on-logout hidden"></div>