<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Yoro Sports Club official website">
    <meta name="author" content="K.W.">
    <link rel="stylesheet" href="/static/css/base.css">
    <title>登録完了</title>
</head>
<body>
    {% include "header.html" %}

    <div id="page-directory-div" class="flex-row">
        <span><a href="/">ホーム</a></span>
        <span>＞</span>
        <span>登録完了画面</span>
    </div>

    <main class="flex-column-center limit-width-30">

        <h2 class="text-center">(一社) 養老スポーツクラブ</h2>

        <div class="space"></div>

        <p>利用者登録が完了しました。ユーザー名とパスワードを忘れないようお気をつけください。</p>

        <div class="space"></div>
        
        <div class="flex-column">
            <p style="text-align: start;">①「からだあそび教室」へ申し込みの方は、お子さんの情報を登録してください↓</p>
            <a href="/my/childrensignup" class="a-btn" style="background-color: darkgoldenrod;">お子さんの情報を登録する</a>

            <div class="space"></div>

            <a href="/my/userdetails" class="a-btn">登録内容を確認する</a>

            <div class="space"></div>

            <a href="/lessons" class="a-btn">教室申し込みページ</a>
        </div>
    </main>

    <footer>
        <p>（一社）養老スポーツクラブ</p>
    </footer>

    <script src="/static/js/base.js"></script>
</body>
</html>
